.Services
  color: white

.Services button
  padding: 1rem
  background: linear-gradient( #9690da, #565281 )
  width: 100%
  border: none
  border-radius: 1rem
  color: white
  font-size: 1.4em
  margin-bottom: .2em

.heading
  color: black
  font-family: Abril Fatface, cursive
  text-align: center
  font-size: 3em
